body {
    background-image: url("rabbit.avif");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 0 0 1.5px black;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 0 1.5px black;
}

#buttons {
    display: inline;
}

button {
    border: none;
    padding: 10px 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 40px;
}

#increment-btn {
    background: darkred;
    margin-right: 5px;
    transform: transition 1s;
    overflow: hidden;
    box-shadow: 0 0 7px black;
}

#increment-btn:hover {
    transform: scale(1.05);
}

#save-btn {
    background: darkgreen;
    margin-left: 5px;
    transform: transition 1s;
    overflow: hidden;
    box-shadow: 0 0 7px black;
}

#save-btn:hover {
    transform: scale(1.05);
}

#save-section {
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    width: 300px;
    padding: 5px 20px;
    border: 2px solid darkgreen;
    background-color: #e8e0d1;
    border-radius: 20px;
    box-shadow: 0 0 10px black inset;
}

p {
    color: black;
    text-shadow: 0 0 1.5px black;
}